{% include header.html %}

<article class="content__article">

	<header class="article__info">

		<h1 class="article__title">{{ page.title }}</h1>

	</header>

	<section class="article__content">

		{{ content }}

	</section>

	{% if page.flickr %}
		<div class="flickr-album">
            <p class="article__source"><a target="_blank" href="https://www.flickr.com/photos/rmlewisuk/sets/{{page.flickr}}">
            	View album on Flickr</a>
        	</p>

            <div id="flickfeed"></div>
            <script src="/assets/js/flickfeed.js"></script>
			<script type="text/javascript">
				Flickfeed({
					userId: "28395116@N05",
					limit: 5,
					target: "#flickfeed",
					size: 'q',
					sort: 'date-posted-desc',
					setId: "{{ page.flickr }}",
					template: {% raw %}"<a class='flick-feed-image' target='_blank' title='{{title}}' href='{{link}}'><img src='{{image}}' /></a>"{% endraw %}
				});
			</script>
		</div>
    {% endif %}

	{% if page.source %}
		<p class="article__source"><a href="{{ page.source }}">Original source</a></p>
	{% endif %}

	{% if page.sets %}
		<section class="article__sets">

			<h1 class="article__sets__title">Mentioned sets</h1>

			{% assign sets = page.sets | split: ',' %}

			<ul class="article__sets__list">
				{% for set in sets %}
					{% assign id = set | split: ':' %}

					<li class="article__set">
						<a href="http://brickset.com/sets/{{id[0] | strip}}">{{ set }}</a>
					</li>
				{% endfor %}
			</ul>

		</section>
	{% endif %}

</article>

{% include footer.html %}